@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo de Destaque (Highlight) 
*/
mark {
    background-color: #fef08a; /* Amarelo 200 do Tailwind */
    color: inherit; /* Usa a cor de texto normal */
    padding: 0 2px;
    border-radius: 3px;
    font-weight: 600; /* Um leve negrito */
}

/* Versão para Modo Escuro */
.dark mark {
    background-color: #a16207; /* Amarelo 800 */
    color: #fef9c3; /* Amarelo 100 */
}